<div class="block-story" style="background-image:url('{{photo}}')" onclick="(function(){location.href="{{url}}";}())">
  <div class="details">
    <a class="main-link" href="{{url}}">{{copy}}</a>
    <a class="attribution-link" href="{{attributionUrl}}">{{attributionCopy}}</a>
  </div>
</div>
