<div class="block-story" style="background-image:url('{{photo}}')" onclick="(function(){location.href='{{url}}';}())">
  <div class="details">
    <a class="main-link" title="{{copy}}" href="{{url}}">{{copy}}</a>
    <a class="attribution-link" title="Clicking this takes you to Flickr" href="{{attributionUrl}}">{{attributionCopy}}</a>
  </div>
</div>
