<div class="block-story" style="background-image:url('{{photo}}')">
  <div class="details">
    <a class="main-link" title="{{#__}}{{copy}}{{/__}}" href="{{url}}">{{#__}}{{copy}}{{/__}}</a>
    <a class="attribution-link" title="{{#__}}Clicking this takes you to Flickr{{/__}}" href="{{attributionUrl}}">{{attributionCopy}}</a>
  </div>
</div>
