<ul class="block-activity-icons">
{{#each activity.items}}
  {{#if id}}
  <li style="background-image:url('/style/activity-{{#removeSpaces}}{{id}}{{/removeSpaces}}.svg');" title="{{#__}}This park has {{name}}{{/__}}" class="{{category}} activity-{{#removeSpaces}}{{id}}{{/removeSpaces}}" onclick="location.href='/parks/with/{{id}}';">{{name}}</li>
  {{/if}}
{{/each}}
</ul>
