<div class="block-story" style="background-image:url('{{photo}}')" onclick="(function(el){el.classList.add('wait');STMN.addNearArg('{{url}}?near=[location]');}(this))">
  <div class="details">
    <a class="main-link" title="{{#__}}{{copy}}{{/__}}" href="{{url}}">{{#__}}{{copy}}{{/__}}</a>
    <a class="attribution-link" title="{{#__}}Clicking this takes you to Flickr{{/__}}" href="{{attributionUrl}}">{{attributionCopy}}</a>
  </div>
</div>
