<div class="flickr-photo-container">
	<a href="http://flickr.com/photos/{{owner}}/{{photoid}}">
	<img 
		class="flickr-photo" 
		src="http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg" 
		alt="{{title}} by {{owner}}" 
		border="0"
	>
	</a>
	<p><a href="http://flickr.com/photos/{{owner}}/{{photoid}}">{{title}} by {{owner}}</a></p>
</div>