<div class="coverphoto" style="background-image: url('http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); display:inline-block;">
	<span class="attribution">
		<a href="http://flickr.com/{{owner}}/{{photoid}}">{{title}}</a> by <a href="http://flickr.com/{{owner}}">{{ownername}}</a> on <a href="http://flickr.com">Flickr</a>
	</span>
</div>