<aside id="coverphoto" style="background-image: url('http://farm{{cover_photo.farm}}.staticflickr.com/{{cover_photo.server}}/{{cover_photo.photoid}}_{{cover_photo.secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{cover_photo.farm}}.staticflickr.com/{{cover_photo.server}}/{{cover_photo.photoid}}_{{cover_photo.secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{cover_photo.farm}}.staticflickr.com/{{cover_photo.server}}/{{cover_photo.photoid}}_{{cover_photo.secret}}_b.jpg', sizingMethod='scale');">
	<span class="attribution">
		<a href="http://flickr.com/{{cover_photo.owner}}/{{cover_photo.photoid}}">{{cover_photo.title}}</a> by <a href="http://flickr.com/{{cover_photo.owner}}">{{cover_photo.owner}}</a> on <a href="http://flickr.com">Flickr</a>
	</span>
</aside>