<div title="This photo is {{title}} by {{owner}} on Flickr" data-flickr-url="http://flickr.com/photos/{{owner}}/{{photoid}}" onclick="(function(){location.href='http://flickr.com/photos/{{owner}}/{{photoid}}';}())" style="background-image:url('http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_c.jpg');">
	<p class="attribution" title="{{title}} by {{owner}} on Flickr"><a href="http://flickr.com/photos/{{owner}}/{{photoid}}">{{title}} by {{owner}}</a></p>
</div>
