<div class="coverphoto" style="background-image: url('http://farm{{metadata.farm}}.staticflickr.com/{{metadata.server}}/{{metadata.id}}_{{metadata.secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{metadata.farm}}.staticflickr.com/{{metadata.server}}/{{metadata.id}}_{{metadata.secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{metadata.farm}}.staticflickr.com/{{metadata.server}}/{{metadata.id}}_{{metadata.secret}}_b.jpg', sizingMethod='scale'); display:inline-block;">
  <span class="attribution">
    <div class="flickr-title"><a class="title-link" href="http://flickr.com/{{metadata.owner}}/{{metadata.id}}">{{#if metadata.title}}{{metadata.title}}{{else}}Untitled{{/if}}</a></div> by <a href="http://flickr.com/{{metadata.owner}}">{{metadata.ownername}}</a> on <a href="http://flickr.com">Flickr</a>
  </span>
</div>
