<div class="coverphoto" onclick="location.href='http://flickr.com/{{owner}}/{{photoid}}';" style="cursor:pointer;background-image: url('http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); display:inline-block;position:relative;">
	<a class="title-link" href="http://flickr.com/{{owner}}/{{photoid}}">
	<span class="attribution">
		<div class="flickr-title">{{#if title}}{{title}}{{else}}{{#__}}Untitled{{/__}}{{/if}}</div> {{#__}}by{{/__}}{{ownername}} {{#__}}on Flickr{{/__}}
	</span>
	</a>
</div>
