<div class="coverphoto" style="background-image: url('http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg', sizingMethod='scale'); display:inline-block;position:relative;">
	<span class="attribution">
		<div class="flickr-title"><a class="title-link" href="http://flickr.com/{{owner}}/{{photoid}}">{{#if title}}{{title}}{{else}}{{#__}}Untitled{{/__}}{{/if}}</a></div> {{#__}}by{{/__}} <a href="http://flickr.com/{{owner}}">{{ownername}}</a> {{#__}}on <a href="http://flickr.com">Flickr</a>{{/__}}
	</span>
</div>
