<div data-flickr-url="http://flickr.com/photos/{{owner}}/{{photoid}}" style="background-image:url('http://farm{{farm}}.staticflickr.com/{{server}}/{{photoid}}_{{secret}}_b.jpg');">
	<p><a href="http://flickr.com/photos/{{owner}}/{{photoid}}">{{title}} by {{owner}}</a></p>
</div>
