<aside id="coverphoto" style="background-image: url('http://farm{{coverPhoto.farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{coverPhoto.farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{coverPhoto.farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg', sizingMethod='scale');">
	<span class="attribution">
		<a href="http://flickr.com/{{coverPhoto.owner}}/{{coverPhoto.photoid}}">{{coverPhoto.title}}</a> by <a href="http://flickr.com/{{coverPhoto.owner}}">{{coverPhoto.owner}}</a> on <a href="http://flickr.com">Flickr</a>
	</span>
</aside>