<style>
  #glop-park-{{su_id}} {
    background-image:url('http://rasterblaster.stamen.com/cpad/{{su_id}}-888462-200-200.png');
  }

  #glop-park-{{su_id}}:hover {
    background-image:url('http://rasterblaster.stamen.com/cpad/{{su_id}}-85BBE1-200-200.png');
  }
</style>
<a href="/park/{{su_id}}"><div id="glop-park-{{su_id}}" class="glop-park" style="background-position: initial;" data-park-id="{{su_id}}"><span class="hashtag">#{{hashtag}}</span><span class="park-name">{{unit_name}}</span></div></a>