<div class="instagram-photo">
  <a href="{{link}}" title="{{title}} by {{username}} on Instagram"><img src="{{thumb}}" width="119" height="119" onerror="document.getElementById('instagram-slide-container').removeChild(this.parentNode.parentNode);" alt="{{title}}"><span class="attribution"></span></a>
</div>
