<!-- ogTypePark:{{ogTypePark}} ogTypeStory:{{ogTypeStory}} ogTypeSearch:{{ogTypeSearch}} -->
<meta property="fb:app_id" content="1234567890" />

{{#if ogTypePark}}

<meta property="og:type"            content="caliparks:park" />
<meta property="og:url"             content="{{siteURL}}/park/{{park_id}}" />
<meta property="og:title"           content="{{unit_name}} on {{siteName}}" />
<meta property="og:image"           content="http://farm{{flickr.items.1.farm}}.staticflickr.com/{{flickr.items.1.server}}/{{flickr.items.1.photoid}}_{{flickr.items.1.secret}}_b.jpg" />
<meta property="place:location:latitude"  content="{{latitude}}" />
<meta property="place:location:longitude" content="{{longitude}}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@caliparksorg" />
<meta name="twitter:title" content="{{unit_name}} on {{siteName}}" />
<meta name="twitter:image" content="http://farm{{flickr.items.1.farm}}.staticflickr.com/{{flickr.items.1.server}}/{{flickr.items.1.photoid}}_{{flickr.items.1.secret}}_b.jpg" />
<meta name="twitter:url" content="{{siteURL}}/park/{{park_id}}" />

<title>{{unit_name}} {{#__}}on{{/__}} {{siteName}}</title>
<meta name="description" content="{{#__ arg=unit_name}}Photos, maps, and driving directions for %s.{{/__}}">

{{else}}
  {{#if ogTypeStory}}
    <meta property="og:type"            content="caliparks:park_list" />
    <meta property="og:url"             content="{{siteURL}}/story/{{search.query}}" />
    <meta property="og:title"           content="{{story}} : {{siteName}}" />

    <title>{{story}} : {{siteName}}</title>
    <meta name="description" content="{{#__}}Check out some of our favorite parks. See photos from Instagram and Flickr. Get directions.{{/__}}">
  {{else}}
    {{#if ogTypeSearch}}
      <title>{{>search-state}}</title>
      <meta name="description" content="{{#__}}A list of parks from Caliparks.org{{/__}}">
    {{else}}
      <title>{{siteName}}</title>
      <meta name="description" content="{{#__}}Find parks near you. Select your favorite activities, from basketball to rock climbing. See park photos from Instagram and Flickr. Get directions.{{/__}}">
    {{/if}}
  {{/if}}
{{/if}}
