<div id="content"  class="template-404" style="background-image: url('http://farm{{coverPhoto.farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg', sizingMethod='scale'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://farm{{coverPhoto.farm}}.staticflickr.com/{{coverPhoto.server}}/{{coverPhoto.photoid}}_{{coverPhoto.secret}}_b.jpg', sizingMethod='scale'); display:inline-block;">

	<p class="site-description">
		{{#__}}Go outside & discover California&#8217;s parks{{/__}}
	</p>
	{{>block-search-box}}

	<span class="attribution">
		<div><a href="http://flickr.com/{{coverPhoto.owner}}/{{coverPhoto.photoid}}">{{#if coverPhoto.coverPhoto.title}}{{coverPhoto.title}}{{else}}Untitled{{/if}}</a></div> by <a href="http://flickr.com/{{coverPhoto.owner}}">{{coverPhoto.ownername}}</a> on <a href="http://flickr.com">Flickr</a>
	</span>

	<section>
		<h1>{{#__}}There’s nothing to see at this location.{{/__}}</h1>
		<p>{{#__}}But we’ve got more than 10,000 California parks, <a href="/wander">here’s one</a>.{{/__}}</p>
	</section>

</div>
