<p class="breadcrumb">Parks in <a href="/">California</a> > {{name}}</p>

<ul>
	{{#each parks}}
		<li><a href="/park/{{properties.unit_id}}">{{properties.unit_name}}</a> {{#if photoCount}}({{photoCount}} Flickr photos){{/if}} {{#if tweetCount}}({{tweetCount}} tweets){{/if}}</li>
	{{/each}}
</ul>

