<p class="breadcrumb">Parks in <a href="/">California</a> > {{#agencyNameDisplay}}{{name}}{{/agencyNameDisplay}}</p>

<ul>
	{{#each parks}}
		<li><a href="/park/{{su_id}}">{{unit_name}}</a> {{#if photoCount}}({{photoCount}} Flickr photos){{/if}} {{#if tweetCount}}({{tweetCount}} tweets){{/if}}</li>
	{{/each}}
</ul>

