<div id="content" class="template-{{view}} {{#if query.social}}social{{/if}} {{#if query.instagram}}instagram{{/if}} {{#if query.activities}}activities{{/if}}">
	<div class="park-name">
		<button class="embed-back-button">&nbsp;</button>
	  <button class="embed-forward-button">&nbsp;</button>
		{{unit_name}}
	</div>
	{{>block-park-name}}
	<div class="instagram-wrapper">{{>block-instagram-strip}}</div>
	<p class="site-name-embed">{{#__}}Courtesy of <a href="/">{{siteName}}</a>{{/__}}</p>
	{{>block-static-park-map this}}
	<div class="social-legend"><img src="/style/embed-social-legend.svg" width="20px"></div>
</div>
<script>
var viewData = {
	"centroid"  : {{{centroid}}},
	"bbox"      : {{{bbox}}},
	"unit_name" : "{{unit_name}}",
	"geometry"  : {{{cpadPark.geometry}}}
}
</script>
