<div id="content" class="template-{{view}} {{#if query.social}}social{{/if}} {{#if query.instagram}}instagram{{/if}} {{#if query.activities}}activities{{/if}} {{#if withList}}with{{/if}}">
	<div class="park-name">
		<button class="embed-back-button">&nbsp;</button>
	  <button class="embed-forward-button">&nbsp;</button>
		{{unit_name}}
	</div>
	{{>block-park-name}}
	<div class="instagram-wrapper">{{>block-instagram-strip}}</div>
	<p class="site-name-embed">{{#__}}Courtesy of <a href="/">{{siteName}}</a>{{/__}}</p>
	{{>block-static-park-map this}}
</div>
<script>
var viewData = {
	"park_id"   : "{{park_id}}",
	"centroid"  : {{{centroid}}},
	"bbox"      : {{{bbox}}},
	"unit_name" : "{{unit_name}}",
	"geometry"  : {{{cpadPark.geometry}}},
	"withList"  : "{{withList}}"
}
</script>
