<div id="content" class="template-{{view}} {{#if query.social}}social{{/if}} {{#if query.name}}parkinfo name{{/if}} {{#if query.activities}}parkinfo activities{{/if}}">
	{{>block-static-park-map this}}
	{{>block-park-name}}
	<a href="/park/{{cpadPark.superunit_id}}" target="_new">
	<p class="social-breakdown">
		{{#if twitter}}
		<span class="total{{twitter.total}}">{{#pluralize}}{{twitter.total}} <span>{{#__}}Tweet{{/__}}</span>|<span>{{#__}}Tweets{{/__}}</span>{{/pluralize}}
		&nbsp;&nbsp;</span>
		{{/if}}
		{{#if total_any_photos}}
		<span class="total{{total_any_photos}}">{{#pluralize}}{{total_any_photos}} <span>{{#__}}Photo{{/__}}</span>|<span>{{#__}}Photos{{/__}}</span>{{/pluralize}}
		&nbsp;&nbsp;</span>
		{{/if}}
		{{#if foursquare.venues_count}}
		<span class="total{{foursquare.venues_count}}">{{#pluralize}}{{foursquare.venues_count}} <span>{{#__}}Venue{{/__}}</span>|<span>{{#__}}Venues{{/__}}</span>{{/pluralize}}
		&nbsp;&nbsp;</span>
		{{/if}}
		{{#if foursquare.venues_checkins}}
		<span class="total{{foursquare.venues_checkins}}">{{#pluralize}}{{foursquare.venues_checkins}} <span>{{#__}}Check-in{{/__}}</span>|<span>{{#__}}Check-ins{{/__}}</span>{{/pluralize}}
		&nbsp;&nbsp;</span>
		{{/if}}
		{{#if foursquare.venues_tips}}
		<span class="total{{foursquare.venues_tips}}">{{#pluralize}}{{foursquare.venues_tips}} <span>{{#__}}Tip{{/__}}</span>|{{#__}}Tips{{/__}}</span>{{/pluralize}}
		&nbsp;&nbsp;</span>
		{{/if}}
	</p>
	</a>
	<p class="site-name-embed">{{#__}}Courtesy of <a href="/">{{siteName}}</a>{{/__}}</p>
</div>
<script>
var viewData = {
	"centroid"  : {{{centroid}}},
	"bbox"      : {{{bbox}}},
	"unit_name" : "{{unit_name}}",
	"geometry"  : {{{cpadPark.geometry}}}
}
</script>
