
<script>
  (function(window) {

    if(location.hash && location.hash.length > 1) {

      var suIdsByHashtag = {{{suIdsByHashtagJSON}}};

      if(Object.keys(suIdsByHashtag).length) {

        location.href = suIdsByHashtag[location.hash.substring(1).toUpperCase()] ? '/park/' + suIdsByHashtag[location.hash.substring(1).toUpperCase()] : '/404';

      }

    }

  }(window))
</script>

<div style="opacity:0;height:0;width:0;overflow:hidden;">
<img src="/style/forward-arrow-normal.png">
<img src="/style/forward-arrow-hover.png">
<img src="/style/back-arrow-normal.png">
<img src="/style/back-arrow-hover.png">
</div>

<h1>Stories pour out of our parks every day.</h1>

<p class="subhead">We’re here to listen.</p>

<article class="about-this-page">
  <p>From family vacations in a national park to mornings at the dog run or lazy days on the beach, Californians live their lives outdoors—and share their experiences online on <a href="http://www.twitter.com/">Twitter</a>, <a href="http://www.flickr.com/">Flickr</a>, <a href="http://instagram.com/">Instagram</a>, and <a href="http://foursquare.com/">Foursquare</a>.</p>

  <p>The idea is pretty simple. We’ve taken the actual shape of every park in California and used it as a window to watch social media streaming out of our parks.</p>

  <p>From the teeny pocket park down the street to huge Stanislaus National Forest—the state’s biggest!—this project bears witness to a simple story a million different ways: parks are part of our lives in California.</p>

  <p>We hope that this project helps connect Californians with their parks—from the liveliest and loudest to the quiet and secluded. And that park rangers, managers, and advocates find these stories and connect with the Californians who use their parks.</p>

  <ul>
  <li>Explore social media from giant parks to tiny parks….</li>
  <li>Which parks are most tweeted about?</li>
  <li>Which are the most photogenic parks?</li>
  <li>Where are people checking in?</li>
  </ul>

  <p><a href="/about">Learn more about our project</a>.</p>
</article>

<section>
  <div class="carousel-container not-scrolled">
    <h2>Explore giant parks to tiny parks...</h2>
    <article class="glop-slider" id="size-glop-slider">
      {{#each parks}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">&nbsp;</button>
    <button class="carousel-forward-button">&nbsp;</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Which parks are most tweeted about?</h2>
    <article class="glop-slider" id="tweets-glop-slider">
      {{#each most_tweets}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">&nbsp;</button>
    <button class="carousel-forward-button">&nbsp;</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Which are the most photogenic parks?</h2>
    <article class="glop-slider" id="photos-glop-slider">
      {{#each most_photographed}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">&nbsp;</button>
    <button class="carousel-forward-button">&nbsp;</button>
  </div>

  <div class="carousel-container not-scrolled">
    <h2>Where are people checking in?</h2>
    <article class="glop-slider" id="checkins-glop-slider">
      {{#each most_checkins}}
        {{>glop_park}}
      {{/each}}
    </article>
    <button class="carousel-back-button">&nbsp;</button>
    <button class="carousel-forward-button">&nbsp;</button>
  </div>
</section>

<script>
if (!window.STMN) {
  window.STMN = {};
}
window.STMN.parkShapes = {
  parksQueue             : {{{parksQueue}}},
  most_photographedQueue : {{{most_photographedQueue}}},
  most_tweetsQueue       : {{{most_tweetsQueue}}},
  most_checkinsQueue     : {{{most_checkinsQueue}}}
}
</script>
<script src="/js/view_home.js"></script>
