

{{>search-box}}

<section id="stories" style="height:500px;">

  <div>
    {{#__}}The Dan{{/__}}
    <p>-{{fuzzyLoc.latitude}}-</p>
    <ul>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>

</section>

<script>
if (!window.STMN) {
  window.STMN = {};
}
window.STMN.parkShapes = {
  parksQueue             : {{{parksQueue}}},
  most_photographedQueue : {{{most_photographedQueue}}},
  most_tweetsQueue       : {{{most_tweetsQueue}}},
  most_checkinsQueue     : {{{most_checkinsQueue}}}
}
window.STMN.glopTemplate = '{{>glop_park-js}}';
</script>
<script src="/js/view_home.js"></script>
