<style>
	#park-shape {
		background-image:url('http://rasterblaster.stamen.com/cpad/{{cpadPark.su_id}}-888462-300-300.png');
		background-repeat:none;
	}
</style>

<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}} not-scrolled{{#if noFlickrScroll}} scrolled-furthest{{/if}}">

	{{# if coverPhoto}}
		<div class="what-scrollbars">
		<div id="coverphoto-carousel" style="overflow:hidden;overflow-x:auto;white-space:nowrap;">
		{{#each flickrPhotos}}
			{{>flickr_coverphoto}}
		{{/each}}
		</div>
		</div>
		<div style="position:absolute;right:43px;top:277px;color:#eeddca;text-align:right;white-space: initial;line-height: 27px;width:181px;">
    <a style="text-decoration:none;color:#f0dfcb;" href="/parks/most-flickr-photos/"><span style="background-color:#9a7922;padding: 4px;">People who use Flickr come here</span></a><br>
    <span style="background-color:#9a7922;padding: 4px;font-size:12px;">{{#pluralize}}{{totalPhotos}} photo|photos{{/pluralize}} by {{#pluralize}}{{flotographer_count}} person|people{{/pluralize}}</span>
  </div>
	{{/if}}
	<button class="carousel-back-button">&nbsp;</button>
    <button class="carousel-forward-button">&nbsp;</button>
	<div id="park-hash-tag">#{{hashtag}}</div>
	<div id="california_shape"></div>

	<section class="{{#if has_instagram_photos}} has-instagram-photos{{/if}}{{#if has_tweets}} has-tweets{{/if}}{{#if has_foursquare}} has-foursquare{{/if}}">
		<div id="park-info" style="display:inline-block;width:400px;">
			<h1 style="margin-bottom: 5px;">{{name}}</h1>
			<p class="park-lat-lon"><a title="Get Directions to {{name}}" href="https://www.google.com/maps/dir//{{cpadPark.centroid_latitude}},{{cpadPark.centroid_longitude}}/@{{cpadPark.centroid_latitude}},{{cpadPark.centroid_longitude}},7z">{{locationDisplay.lat}}, {{locationDisplay.lon}}</a></p>
			<p><a href="/parks/agency/{{agency_slug}}">{{#agencyNameDisplay}}{{cpadPark.agncy_name}}{{/agencyNameDisplay}}</a></p>
			<!--div class="access-type-badge">{{cpadPark.park_area}} Miles</div-->
			<div id="park-shape">
				<div class="scale-area">
					<div class="scale-bar"></div>
					<span>{{parkShapeScale.best}} {{parkShapeScale.label}}</span>
				</div>
			</div>
		</div>
		{{>park-page-instagram}}
		{{#if has_instagram_photos}}
			{{>park-page-foursquare}}
			{{>park-page-tweets}}
		{{else}}
			{{>park-page-tweets}}
			{{>park-page-foursquare}}
		{{/if}}
	</section>

	<section class="extended-navigation" style="position:relative;padding-top: 56px;">
		<div class="extended-navigaton-header-back" style="overflow:hidden;height:25px;position:absolute;top:33px;right: 48px;left:33px;">......................................................................................................................................................................................................................................................................................</div>
		<div style="font-weight:bold;position:absolute;top:33px;left:33px;display:inline-block;background-color:#cebc95;padding-right:3px;">Explore parks near #{{hashtag}} on a map</div>
		<div style="font-weight:bold;position:absolute;top:33px;right:45px;display:inline-block;background-color:#cebc95;padding-left:3px;">and social media.</div>
		<div id="nearest-parks">
			
		</div>
		<div id="social-nav-container" style="display:inline-block;width: 377px;text-align:center;vertical-align:top;padding-top: 35px;">
			<div><div class="social-nav-main-hashtag">#{{hashtag}}</div></div>
			<div class="social-nav-item social-nav-flickr">
				<div class="hashtag-back">&nbsp;</div><div class="social-back-arrow"></div><div class="network-totals">{{#pluralize}}{{totalPhotos}} PHOTO|PHOTOS{{/pluralize}} by {{#pluralize}}{{flotographer_count}} PERSON|PEOPLE{{/pluralize}}</div><div class="social-forward-arrow"></div><div class="hashtag-forward">&nbsp;</div>
				<div class="which-network">ON FLICKR</div>
			</div>
			<div class="social-nav-item social-nav-instagram">
				<div class="hashtag-back">&nbsp;</div><div class="social-back-arrow"></div><div class="network-totals">{{#pluralize}}{{instagram_count}} PHOTO|PHOTOS{{/pluralize}} by {{#pluralize}}{{instographer_count}} PERSON|PEOPLE{{/pluralize}}</div><div class="social-forward-arrow"></div><div class="hashtag-forward">&nbsp;</div>
				<div class="which-network">ON INSTAGRAM</div>
			</div>
			<div class="social-nav-item social-nav-foursquare">
				<div class="hashtag-back">&nbsp;</div><div class="social-back-arrow"></div><div class="network-totals">{{#pluralize}}{{venues_count}} VENUE|VENUES{{/pluralize}} & {{#pluralize}}{{venues_checkins}} CHECKIN|CHECKINS{{/pluralize}}</div><div class="social-forward-arrow"></div><div class="hashtag-forward">&nbsp;</div>
				<div class="which-network">ON FOURSQUARE</div>
			</div>
			<div class="social-nav-item social-nav-twitter">
				<div class="hashtag-back">&nbsp;</div><div class="social-back-arrow"></div><div class="network-totals">{{#pluralize}}{{tweet_count}} TWEET|TWEETS{{/pluralize}} by {{#pluralize}}{{tweeter_count}} PERSON|PEOPLE{{/pluralize}}</div><div class="social-forward-arrow"></div><div class="hashtag-forward">&nbsp;</div>
				<div class="which-network">ON TWITTER</div>
			</div>
		</div>
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/view_park.js"></script>

<script>

	document.addEventListener('DOMContentLoaded', function() {  

  	STMN.initView({
  		su_id: {{cpadPark.su_id}},
  		flickrQueue : {
  			display : {{totalPhotos}} | 0 && document.querySelector('.has-coverphoto'),
				photos  : {{{queue_flickr_photos}}},
				template :'<div class="coverphoto" style="background-image: url(\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\', sizingMethod=\'scale\'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\', sizingMethod=\'scale\'); display:inline-block;">  <span class="attribution">    <div style="display:inline-block;max-width:248px;overflow:hidden;text-overflow:ellipsis;margin-bottom: -2px;"><a href="http://flickr.com/{owner}/{photoid}" style="line-height:10px;">{title}</a></div> by <a href="http://flickr.com/{owner}">{ownername}</a> on <a href="http://flickr.com">Flickr</a>  </span></div>'
  		},
			UsCaShape : {
				display: true,
				rootSelector : '#california_shape',
				options      : {
					canvasWidth  : 100,
					canvasHeight : 150,
					scale        : 600,
					fillColor    : "rgb(34, 17, 2)",
					stroke       : 'grey',
					dotLocation  : null,
					dotRadius    : 3,
					dotColor     : 'white',
					dotLocation  : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)]
				}
			},
			instagramQueue : {
				display : {{instagram_count}} | 0,
				photos  : {{{queue_instagram_photos}}},
				template :'<div class="instagram-photo" data-link="{link}" style="width:128px;height:128px;display:inline-block; background-image:url(\'{thumb}\');background-size: 128px 128px;"></div>'
			},
			twitterQueue : {
				display : {{tweet_count}} | 0,
				tweets  : {{{tweets_queue}}},
				template :'{{>tweets-js}}'
			},
			nearestParks : {
				rootSelector : '#nearest-parks',
				centroid     : [parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10)],
				template     : '{{>glop_park-js}}'
			},
			socialNav : '#social-nav-container'
		});  

  }, false);

</script>