<script>
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.getElementById('view-parks').innerHTML = '<div style="margin-left: 45px;">Finding you...</div>';});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude;
  },
  function() {
    location.href='/parks/nearest/37.7484,-122.4156';
  });
}
</script>

<div id="view-parks">

  <div style="text-align:left;margin-left:43px;">
    <h1 style="font-size:42px;font-family:'HelveticaNeue','Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;text-align:left;margin-bottom:0px;">{{appTitle}}</h1>
    <div style="color:#cdbb95;"><strong>{{total}} parks</strong> | Sort by <a style="color:#9a7825;" href="/parks/{{sorts.one.key}}/">{{sorts.one.value}}</a> or <a style="color:#9a7825;" href="/parks/{{sorts.two.key}}/">{{sorts.two.value}}</a></div>
  </div>

  <div style="text-align:center;margin-top:20px;" id="parks">
  {{#each parks}}
    {{>glop_park}}
  {{/each}}

  {{#if empty}}
    There are no parks to be found here. <a href="/wander">Here is one</a>.
  {{/if}}
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    //
    // Image defer
    //
    queue = new STMN.QueuedElementList('#parks', {
      queue     : {{{parksQueue}}},
      template  : '<style>  #glop-park-{su_id} {    background-image:url(\'http://rasterblaster.stamen.com/cpad/{su_id}-888462-200-200.png\');  }  #glop-park-{su_id}:hover {    background-image:url(\'http://rasterblaster.stamen.com/cpad/{su_id}-85BBE1-200-200.png\');  }</style><a href="/park/{su_id}"><div id="glop-park-{su_id}" class="glop-park" style="background-position: initial;" data-park-id="{su_id}"><span class="hashtag">#{hashtag}</span><span class="park-name">{unit_name}</span></div></a>',
      batchSize : 100
    });

    var b = document.body;

    document.addEventListener('scroll',function(e) {

      if ((b.scrollHeight-b.scrollTop) < (document.documentElement.clientHeight*2)) {
        queue.writeNextBatch();
      }
    });

  }, false);
</script>
