<script>
"use strict";
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.querySelector('.search-results').innerHTML = '<div style="margin-left: 45px;">Finding you...</div>';});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude;
  },
  function() {
    location.href='/parks/near/37.7484,-122.4156';
  });
}
</script>

{{>header-search}}
<div id="content" class="template-{{view}}">
  <div class="action-bar">
    {{>block-activity-filter}}
  </div>

  <div class="tab-actions">
    <button class="list" data-action="list">List</button>
    <button class="map" data-action="map">Map</button>
  </div>

  <div class="tab-pane list-tab-pane">
    <ul class="search-results">

      {{#paginationLast}}<a href="#">{{#__}}Go back a bit{{/__}}</a>{{/paginationLast}}

      {{#each parks}}
        <li>{{>block-park-name}}</li>
      {{else}}
        <p class="no-results">{{#__}}Having trouble finding a park? <a href="/wander">Here's one</a>{{/__}}.</p>
      {{/each}}

      {{#if total}}
      {{#paginationNext}}<a href="#">{{#__}}More Parks!{{/__}}</a>{{/paginationNext}}
      {{/if}}
    </ul>
  </div>
  <div class="tab-pane map-tab-pane" style="height:100%;">
    <div class="slippymap" style="width: 100%; height: 100%;"></div>
  </div>
</div>
<script>
var viewData = {
  "parks"       : {{#json}}{{{parks}}}{{/json}},
  "total"       : {{total}},
  "startat"     : {{startat}},
  "perpage"     : {{perpage}}
}
</script>
