<script>
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.getElementById('view-parks').innerHTML = '<div style="margin-left: 45px;">Finding you...</div>';});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude;
  },
  function() {
    location.href='/parks/near/37.7484,-122.4156';
  });
}
</script>

<div class="content-column" id="view-parks">

  <div>
    <h1>{{appTitle}}</h1>
    <div ><strong>{{#pluralize}}{{total}} {{#__}}park{{/__}}|{{#__}}parks{{/__}}{{/pluralize}}</strong> | {{#__}}Sort by <a href="/parks/{{sorts.one.key}}/">{{sorts.one.value}}</a> or <a href="/parks/{{sorts.two.key}}/">{{sorts.two.value}}{{/__}}</a></div>
  </div>

  <div  id="parks">
  {{#each parks}}
      <li><a href="/park/{{superunit_id}}">{{unit_name}}</a> {{score}}</li>
  {{/each}}

  {{#if empty}}
    {{#__}}There are no parks to be found here. <a href="/wander">Here is one</a>{{/__}}.
  {{/if}}
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    //
    // Image defer
    //
    queue = new STMN.QueuedElementList('#parks', {
      queue     : {{{parksQueue}}},
      template  : '<li><a href="/park/{superunit_id}">{unit_name}</a></li>',
      batchSize : 100
    });

    var b = document.body;

    document.addEventListener('scroll',function(e) {

      if ((b.scrollHeight-b.scrollTop) < (document.documentElement.clientHeight*2)) {
        queue.writeNextBatch();
      }
    });

  }, false);
</script>
