<script>
"use strict";
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.querySelector('#content .search-state').innerHTML = '<div style="margin-left: 45px;" class="wait">Finding you...</div>';document.querySelector('#content .search-results').innerHTML = "";});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude + "?home=true";
  },
  function() {
    location.href='/parks/near/37.7484,-122.4156';
  });
}
</script>

<div id="content" class="template-{{view}}{{#if query.with}} filtered{{/if}}">
  {{>block-search-box}}
  <div class="search-state">
    {{>search-state}}
  </div>
  <div class="action-bar">
    {{>block-activity-filter}}
  </div>

  <div id="tab-container" class="{{#each activities}}{{#unless filterState}} not-{{#removeSpaces}}{{@key}}{{/removeSpaces}}{{/unless}}{{/each}}">
    <div class="tab-actions">
      <button class="list" data-action="list">{{#__}}List{{/__}}</button>
      <button class="map" data-action="map">{{#__}}Map{{/__}}</button>
    </div>

    <div class="tab-pane list-tab-pane">
      <ul class="search-results">
        {{>parks-results}}
      </ul>

    </div>
    <div class="tab-pane map-tab-pane">
      <div class="slippymap" style="width: 100%; height: 100.1%;"></div>
      <button class="action active search-this-area-action">{{#__}}Search this area{{/__}}</button>
    </div>
  </div>
</div>
<script>
var viewData = {
  "parks"        : {{#json}}{{{parksGeoJSON}}}{{/json}},
  "total"        : {{total}},
  "startat"      : "{{startat}}",
  "perpage"      : "{{perpage}}",
  "bounds"       : [{{bounds}}]
}
</script>
