<div id="content" class="template-{{view}}">
	<div class="row">
		<section id="park-info">
			{{#if flickr.total}}
				{{>block-photo-carousel}}
			{{/if}}
			<div class="park-details">
				<p class="agency-name">{{cpadPark.mng_agncy}}</p>
				{{>block-park-name nolink=false centroid=centroid}}
				<!-- hiding social counts until/unless they can be made clickable
				<p class="social-breakdown">
					{{#if twitter}}
						<span class="total{{twitter.total}}">{{#pluralize}}{{twitter.total}} <span>{{#__}}Tweet{{/__}}</span>|<span>{{#__}}Tweets{{/__}}</span>{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if total_any_photos}}
						<span class="total{{total_any_photos}}">{{#pluralize}}{{total_any_photos}} <span>{{#__}}Photo{{/__}}</span>|<span>{{#__}}Photos{{/__}}</span>{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_count}}
						<span class="total{{foursquare.venues_count}}">{{#pluralize}}{{foursquare.venues_count}} <span>{{#__}}Venue{{/__}}</span>|<span>{{#__}}Venues{{/__}}</span>{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_checkins}}
						<span class="total{{foursquare.venues_checkins}}">{{#pluralize}}{{foursquare.venues_checkins}} <span>{{#__}}Check-in{{/__}}</span>|<span>{{#__}}Check-ins{{/__}}</span>{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_tips}}
						<span class="total{{foursquare.venues_tips}}">{{#pluralize}}{{foursquare.venues_tips}} <span>{{#__}}Tip{{/__}}</span>|{{#__}}Tips{{/__}}</span>{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
				</p>-->
				<div>
					{{#if cpadPark.park_url}}<button class="action" onclick="(function(){console.log(viewData);location.href='{{cpadPark.park_url}}';}());">{{#__}}Park Info{{/__}}</button>{{/if}}
					{{#if cpadPark.hipcamp_url}}<button class="action" onclick="(function(){console.log(viewData);location.href='{{cpadPark.hipcamp_url}}';}());">{{#__}}Camp Here{{/__}}</button>{{/if}}
					<button class="action" onclick="(function(){console.log(viewData);location.href='/embed/{{park_id}}';}());">{{#__}}Embed{{/__}}</button>
					<div style="margin-top:10px;">
					<div class="fb-like" data-href="{{siteURL}}/park/{{park_id}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
					<a style="padding-top:10px;" href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="caliparks">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</div>
				</div>
			</div>
		</section>
		<section id="maps">
			{{> block-static-park-map}}
			<button class="action fullscreen">Fullscreen</button>
		</section>
	</div>
	{{#if instagram.total}}
	<div class="row">
		{{>block-instagram-strip}}
	</div>
	{{/if}}
	<div class="row">
		<section id="get-out">
			<h2>{{#__}}Get outside and...{{/__}}</h2>
			{{> block-stories-flexy}}
		</section>
	</div>
	<div class="row">
		<section id="search-area">
			{{>block-search-box}}
		</section>
	</div>
</div>
<script>
	var viewData = {
		"centroid"  : {{{centroid}}},
		"bbox"      : {{{bbox}}},
		"unit_name" : "{{unit_name}}",
		"geometry"  : {{{cpadPark.geometry}}}
	}
</script>
