<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}}">

	{{# if coverPhoto}}{{>flickr_coverphoto}}{{/if}}
	<div id="park-hash-tag">#{{hashtag}}</div>
	<div id="california_shape"></div>
	<section>
		<h1>{{name}}</h1>
		<p>{{locationDisplay.lat}}, {{locationDisplay.lon}}</p>
		<p>{{#agencyNameDisplay}}{{cpadPark.agncy_name}}{{/agencyNameDisplay}}</p>
		<span class="access-type-badge">{{cpadPark.own_type}}</span>

		<div id="park-shape"></div>
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/park_shape.js"></script>
<script src="/js/view_park.js"></script>

<script>
	STMN.initView({
		UsCaShape : {
			display: document.querySelector('.has-coverphoto') ? true : false,
			rootSelector : '#california_shape',
			options      : {
				canvasWidth  : 100,
				canvasHeight : 150,
				scale        : 600,
				fillColor    : "rgb(34, 17, 2)",
				stroke       : 'grey',
				dotLocation  : null,
				dotRadius    : 3,
				dotColor     : 'white',
				dotLocation  : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)]
			}
		},

		parkShape : {
			shapeData    : {{{cpadPark.park_shape}}},
			rootSelector : '#park-shape',
			options       : {
				centroid : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)],
				bbox : {{{cpadPark.bbox}}}.coordinates[0]
      }
    }
	});
</script>