<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}} not-scrolled{{#if noFlickrScroll}} scrolled-furthest{{/if}}">

	{{# if coverPhoto}}
		<div class="what-scrollbars">
			<div id="coverphoto-carousel" style="overflow:hidden;overflow-x:auto;white-space:nowrap;">
			{{#each flickrPhotos}}
				{{>flickr_coverphoto}}
			{{/each}}
			</div>
		</div>
		<div id="people-from" style="position:absolute;top:277px;text-align:right;white-space: initial;line-height: 27px;width:181px;">
	    <a style="text-decoration:none;" href="/parks/most-flickr-photos/"><span style="padding: 4px;font-weight:bold;">People who use Flickr come here</span></a><br>
	    <span style="padding: 4px;font-size:12px;">{{#pluralize}}{{totalPhotos}} photo|photos{{/pluralize}} by {{#pluralize}}{{flotographer_count}} person|people{{/pluralize}}</span>
  </div>
  <button class="carousel-back-button">&nbsp;</button>
  <button class="carousel-forward-button">&nbsp;</button>
	{{/if}}

	<section class="details {{#if has_instagram_photos}} has-instagram-photos{{/if}}{{#if has_tweets}} has-tweets{{/if}}{{#if has_foursquare}} has-foursquare{{/if}}">
		<div class="content-column friend">
			<div id="park-info">
	      <h1>{{name}}</h1>
	      <ul class="activity-icons">
	      	<li><img src="/style/activity-backpacking.svg"></li>
	      	<li><img src="/style/activity-boating.svg"></li>
	      	<li><img src="/style/activity-caving.svg"></li>
	      	<li><img src="/style/activity-fishing.svg"></li>
	      </ul>
	      <ul class="social-badges">
	      	<li class="social-badge-tweets">{{#pluralize}}{{tweet_count}} tweet|tweets{{/pluralize}}</li>
	      	<li class="social-badge-photos">{{#pluralize}}{{total_any_photos}} photo|photos{{/pluralize}}</li>
	      	<li class="social-badge-venues">{{#pluralize}}{{venues_count}} venue|venues{{/pluralize}}</li>
	      	<li class="social-badge-checkins">{{#pluralize}}{{venues_checkins}} checkin|checkins{{/pluralize}}</li>
	      </ul>
	      <p class="park-lat-lon"><a title="Get Directions to {{name}}" href="https://www.google.com/maps/dir//{{cpadPark.centroid_latitude}},{{cpadPark.centroid_longitude}}/@{{cpadPark.centroid_latitude}},{{cpadPark.centroid_longitude}},7z">{{locationDisplay.lat}}, {{locationDisplay.lon}}</a></p>
	      <p><a href="/parks/agency/{{agency_slug}}">{{#agencyNameDisplay}}{{cpadPark.agncy_name}}{{/agencyNameDisplay}}</a></p>
	    </div>
		</div>
		<div class="content-column alphadog">
			{{>park-page-instagram}}
			{{>park-page-tweets}}
			{{>park-page-foursquare}}
		</div>
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/view_park.js"></script>

<script>

	document.addEventListener('DOMContentLoaded', function() {  

  	STMN.initView({
  		su_id: {{cpadPark.su_id}},
  		flickrQueue : {
  			display : {{totalPhotos}} | 0 && document.querySelector('.has-coverphoto'),
				photos  : {{{queue_flickr_photos}}},
				template :'<div class="coverphoto" style="background-image: url(\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\', sizingMethod=\'scale\'); -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src=\'http://farm{farm}.staticflickr.com/{server}/{photoid}_{secret}_b.jpg\', sizingMethod=\'scale\'); display:inline-block;">  <span class="attribution">    <div class="flickr-title"><a class="title-link" href="http://flickr.com/{owner}/{photoid}">{title}</a></div> by <a href="http://flickr.com/{owner}">{ownername}</a> on <a href="http://flickr.com">Flickr</a>  </span></div>'
  		},
			UsCaShape : {
				display: true,
				rootSelector : '#california_shape',
				options      : {
					canvasWidth  : 100,
					canvasHeight : 150,
					scale        : 600,
					fillColor    : "rgb(34, 17, 2)",
					stroke       : 'grey',
					dotLocation  : null,
					dotRadius    : 3,
					dotColor     : 'white',
					dotLocation  : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)]
				}
			},
			instagramQueue : {
				display : {{instagram_count}} | 0,
				photos  : {{{queue_instagram_photos}}},
				template :'<div class="instagram-photo" data-link="{link}" style="width:128px;height:128px;display:inline-block; background-image:url(\'{thumb}\');background-size: 128px 128px;"></div>'
			},
			twitterQueue : {
				display : {{tweet_count}} | 0,
				tweets  : {{{tweets_queue}}},
				template :'{{>tweets-js}}'
			}
		});  

  }, false);

</script>