<script>
var locationParts = location.href.split('/');
if (locationParts[4] === 'near' && !locationParts[5]) {
  document.addEventListener('DOMContentLoaded', function() {document.querySelector('.search-results').innerHTML = '<div style="margin-left: 45px;">Finding you...</div>';});

  navigator.geolocation.getCurrentPosition(function(l) {
    location.href='/parks/near/'+l.coords.latitude+','+l.coords.longitude;
  },
  function() {
    location.href='/parks/near/37.7484,-122.4156';
  });
}
</script>

<div class="content template-{{view}}">

  <div>
    <h1>Parks with "{{appTitle}}" in the name</h1>
  </div>

  <div  id="parks">
    <div id="activity-filter-area" class="closed">
      <div class="filter-handle">
        <button class="toggle-activities-drawer-action action"><i></i>Activities<span class="status"></span></button>
        {{#if query.with}}<button class="clear-activities-action action">Clear</button>{{/if}}
        <button class="close-drawer-action action">Close</button>
      </div>
      <ul class="filter-drawer" style="color:white;">
        {{#each activities}}
        <li>
          <button class="toggle-activity-action action {{#if filterState}}selected{{/if}}" data-filter="{{@key}}">
            <div class="activity-icon-container {{category}}"><img src="/style/activity-{{@key}}.svg"></div>
            <label>{{label}}</label>
          </button>
        </li>
        {{/each}}
      </ul>
    </div>
    <ul class="search-results">

      {{#paginationLast}}<a href="#">{{#__}}Go back a bit{{/__}}</a>{{/paginationLast}}

      {{#each parks}}
          <li>{{>block-park-name}}</li>
      {{else}}
        {{#__}}Having trouble finding a park? <a href="/wander">Here's one</a>{{/__}}.
      {{/each}}

      {{#if total}}
        {{#paginationNext}}<a href="#">{{#__}}Moar Parks!{{/__}}</a>{{/paginationNext}}
      {{/if}}
    </ul>
  </div>

</div>
