<style>
	#park-shape {
		background-image:url('http://rasterblaster.stamen.com/cpad/{{cpadPark.su_id}}-888462-300-300.png');
		background-repeat:none;
	}
</style>

<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}} not-scrolled{{#if noFlickrScroll}} scrolled-furthest{{/if}}">

	{{# if coverPhoto}}
		<div id="coverphoto-carousel" style="overflow:hidden;overflow-x:auto;white-space:nowrap;">
		{{#each flickrPhotos}}
			{{>flickr_coverphoto}}
		{{/each}}
		</div>
	{{/if}}
	<button class="carousel-back-button">&#8592;</button>
    <button class="carousel-forward-button">&#8594;</button>
	<div id="park-hash-tag">#{{hashtag}}</div>
	<div id="california_shape"></div>

	<section class="{{#if has_instagram_photos}} has-instagram-photos{{/if}}{{#if has_tweets}} has-tweets{{/if}}">
		<div id="park-info" style="display:inline-block;width:400px;">
			<h1>{{name}}</h1>
			<p>{{locationDisplay.lat}}, {{locationDisplay.lon}}</p>
			<p><a href="/parks/agency/{{agency_slug}}">{{#agencyNameDisplay}}{{cpadPark.agncy_name}}{{/agencyNameDisplay}}</a></p>
			<!--div class="access-type-badge">{{cpadPark.park_area}} Miles</div-->
			<div id="park-shape">
				<div class="scale-area">
					<div class="scale-bar"></div>
					<span>{{parkShapeScale.best}} {{parkShapeScale.label}}</span>
				</div>
			</div>
		</div>
		{{>park-page-instagram}}
		{{#if has_instagram_photos}}
			{{>park-page-foursquare}}
			{{>park-page-tweets}}
		{{else}}
			{{>park-page-tweets}}
			{{>park-page-foursquare}}
		{{/if}}
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/view_park.js"></script>

<script>
	STMN.initView({
		UsCaShape : {
			display: document.querySelector('.has-coverphoto') ? true : false,
			rootSelector : '#california_shape',
			options      : {
				canvasWidth  : 100,
				canvasHeight : 150,
				scale        : 600,
				fillColor    : "rgb(34, 17, 2)",
				stroke       : 'grey',
				dotLocation  : null,
				dotRadius    : 3,
				dotColor     : 'white',
				dotLocation  : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)]
			}
		}
	});
</script>