<div id="park-template-wrapper" class="{{# if cover_photo}}has-coverphoto {{/if}}">

	{{# if cover_photo}}{{>flickr_coverphoto}}{{/if}}
	<div id="park-hash-tag">#STMN</div>
	<div id="california_shape"></div>
	<section>
		<h1>{{app_title}}</h1>
		<p>{{location_display.lat}}, {{location_display.lon}}</p>
		<p>{{cpad_park.county}} County</p>
		<span class="access-type-badge">{{cpad_park.access_typ}}</span>
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/view_park.js"></script>

<script>
	STMN.initView({
		california_shape : {
			display: document.querySelector('.has-coverphoto') ? true : false,
			root_selector : '#california_shape',
			options       : {
				canvas_width  : 100,
				canvas_height : 100,
				scale         : 600,
				fill_color    : "rgb(34, 17, 2)",
				stroke        : 'grey',
				dot_location  : null,
				dot_radius    : 3,
				dot_color     : 'white',
				dot_location  : [parseFloat('{{cpad_park.centroid_longitude}}' || 0, 10),parseFloat('{{cpad_park.centroid_latitude}}' || 0, 10)] //TODO: Make this not only dolo
			}
		}
	});
</script>
