<div class="content template-{{view}}">
	<div class="row">
		<section id="park-info">
			{{#if flickr.total}}
				{{>block-photo-carousel}}
			{{/if}}
			<p class="site-name">{{#__}}Caliparks{{/__}}</p>
			<div class="park-details">
				<p class="agency-name"><a href="#">{{cpadPark.mng_agncy}}</a></p>
				<h1>{{name}}</h1>
				{{#if hipcamp}}
					{{>block-activity-icons}}
				{{/if}}
				<p class="social-breakdown">
					{{#if twitter}}
						<span class="total{{twitter.total}}">{{#pluralize}}{{twitter.total}} {{#__}}Tweet{{/__}}|{{#__}}Tweets{{/__}}{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if total_any_photos}}
						<span class="total{{total_any_photos}}">{{#pluralize}}{{total_any_photos}} {{#__}}Photo{{/__}}|{{#__}}Photos{{/__}}{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_count}}
						<span class="total{{foursquare.venues_count}}">{{#pluralize}}{{foursquare.venues_count}} {{#__}}Venue{{/__}}|{{#__}}Venues{{/__}}{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_checkins}}
						<span class="total{{foursquare.venues_checkins}}">{{#pluralize}}{{foursquare.venues_checkins}} {{#__}}Check-in{{/__}}|{{#__}}Check-ins{{/__}}{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
					{{#if foursquare.venues_tips}}
						<span class="total{{foursquare.venues_tips}}">{{#pluralize}}{{foursquare.venues_tips}} {{#__}}Tip{{/__}}|{{#__}}Tips{{/__}}{{/pluralize}}
						&nbsp;&nbsp;</span>
					{{/if}}
				</p>
				<div>
					<button class="action" onclick="(function(){alert('The park info feature is not yet available.');}());">Park Info</button>
					<button class="action" onclick="(function(){alert('The camp here feature is not yet available.');}());">Camp Here</button>
					<button class="action" onclick="(function(){location.href=http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width&layout=standard&action=like&show_faces=true&share=true&height=80&appId=783872768325501;})">Like</button>
				</div>
			</div>
		</section>
		<section id="maps">
			{{> block-static-park-map}}
		</section>
	</div>
	{{#if instagram.total}}
	<div class="row">
		{{>block-instagram-strip}}
	</div>
	{{/if}}
	<div class="row">
		<section id="get-out">
			<h2>{{#__}}Get outside and...{{/__}}</h2>
			{{> block-stories-flexy}}
		</section>
	</div>
	<div class="row">
		<section id="search-area">
			<label>{{#__}}Get outside and...{{/__}}</label>
			{{>block-search-box}}
		</section>
	</div>
</div>
<script>
	var viewData = {
		"centroid"  : {{{centroid}}},
		"bbox"      : {{{bbox}}},
		"name"      : "{{name}}"
	}
</script>
