<style>

</style>

<div id="park-template-wrapper" class="{{# if coverPhoto}}has-coverphoto {{/if}}">

	{{# if coverPhoto}}{{>flickr_coverphoto}}{{/if}}
	<div id="park-hash-tag">#{{hashtag}}</div>
	<div id="california_shape"></div>
	<section id="park-info">
		<h1>{{name}}</h1>
		<p>{{locationDisplay.lat}}, {{locationDisplay.lon}}</p>
		<p>{{#agencyNameDisplay}}{{cpadPark.agncy_name}}{{/agencyNameDisplay}}</p>
		<div class="access-type-badge">{{cpadPark.own_type}}</div>
	</section>

	<section>
		<div id="park-shape"></div>
		<link rel="stylesheet" type="text/css" href="/style/standalone-tweet.css">
		<div id="tweets">
			<h2>#{{hashtag}} on Twitter</h2>
			<div style="width:100%;padding:10px;">
				<textarea style="width:97%;border:solid 1px #ccc;border-radius:4px;">#{{hashtag}}</textarea>
				<a class="follow-button profile" href="https://twitter.com/TotalTrafficMOD" role="button" data-scribe="component:followbutton" title="Follow TotalTrafficMOD on Twitter"><i class="ic-button-bird"></i>Tweet</a>
			</div>
			<ul>
			{{#each tweets}}
				<li>{{>twitter_hashtag_post}}</li>
			{{else}}
				<li class="empty">No Tweets</li>
			{{/each}}
			</ul>
		</div>
	</section>

</div>

<script src="/js/vendor/topojson.v1.min.js"></script>
<script src="/js/vendor/d3.v3.min.js"></script>
<script src="/js/park_shape.js"></script>
<script src="/js/view_park.js"></script>

<script>
	STMN.initView({
		UsCaShape : {
			display: document.querySelector('.has-coverphoto') ? true : false,
			rootSelector : '#california_shape',
			options      : {
				canvasWidth  : 100,
				canvasHeight : 150,
				scale        : 600,
				fillColor    : "rgb(34, 17, 2)",
				stroke       : 'grey',
				dotLocation  : null,
				dotRadius    : 3,
				dotColor     : 'white',
				dotLocation  : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)]
			}
		},

		parkShape : {
			shapeData    : {{{cpadPark.park_shape}}},
			rootSelector : '#park-shape',
			options       : {
				centroid : [parseFloat('{{cpadPark.centroid_longitude}}' || 0, 10),parseFloat('{{cpadPark.centroid_latitude}}' || 0, 10)],
				bbox : {{{cpadPark.bbox}}}.coordinates[0]
      }
    }
	});
</script>